<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Egit-Test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
        <servlet-name>nishida</servlet-name>
        <jsp-file>/Nishida.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>nishida</servlet-name>
        <url-pattern>/nishida</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>nishidaresult</servlet-name>
        <jsp-file>/NishidaResult.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>nishidaresult</servlet-name>
        <url-pattern>/nishidaresult</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>nishidaservlet</servlet-name>
        <servlet-class>NishidaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>nishidaservlet</servlet-name>
        <url-pattern>/nishidaservlet</url-pattern>
    </servlet-mapping>
</web-app>